# Apply Function

Suppose we want to derive a new column where each cell is derived from the values already in its row, we use apply function. Here, we are creating a dt column of date object.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:/Users/dubek/Downloads/New folder/international-airline-passengers.csv", engine="python", skipfooter=3)
df.columns = ["Month","Passengers"]
df['ones'] = 1

In [4]:
from datetime import datetime

datetime.strptime("1945-05","%Y-%m")

datetime.datetime(1945, 5, 1, 0, 0)

In [7]:
df['dt'] = df.apply(lambda row: datetime.strptime(row['Month'],"%Y-%m"), axis =1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
Month         144 non-null object
Passengers    144 non-null int64
ones          144 non-null int64
dt            144 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 4.6+ KB

In [9]:
df.head()

     Month  Passengers  ones         dt
0  1949-01         112     1 1949-01-01
1  1949-02         118     1 1949-02-01
2  1949-03         132     1 1949-03-01
3  1949-04         129     1 1949-04-01
4  1949-05         121     1 1949-05-01