# DataFrames

We will use Pandas' 'read' functions. As we'll see, the data type of X is dataframe.

In [2]:
import pandas as pd
import numpy as np

X = pd.read_csv("Datasets/data_2d.csv", header=None)

print(type(X))

<class 'pandas.core.frame.DataFrame'>

We'll use the info function, this gives information about the dataframe. In the dttype, pandas will try to use the most relevant data ype possible.

In [3]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
0    100 non-null float64
1    100 non-null float64
2    100 non-null float64
dtypes: float64(3)
memory usage: 2.4 KB

The head() will by default give first three rows, if we need specifit number of rows then pass the argument to the head().

In [4]:
X.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [5]:
X.head(10)

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486
5   3.192702  29.256299   94.618811
6  49.200784  86.144439  356.348093
7  21.882804  46.841505  181.653769
8  79.509863  87.397356  423.557743
9  88.153887  65.205642  369.229245